mixin blogpost-row(link, imgURL, index, title, tags, cta)
	.ls-row.blogpost-row
		a(href="#{link}" target="_blank" rel="nofollow noopener noreferrer").link-container.offset-2.ls-col-20.offset-xs-4.ls-col-xs-16.offset-sm-1.ls-col-sm-21.offset-lg-3.ls-col-lg-18.offset-xl-4.ls-col-xl-16.motion-cascade
			.ls-row
				.cover-container.ls-col-20.ls-col-xs-16.ls-col-sm-6.ls-col-xl-4
					.image-wrap(data-cascade="slide-up" data-cascade-delay="0" data-cascade-delay-mobile="0")
						img(src="#{imgURL}" alt="#{title}")

				.info-container.ls-col-20.ls-col-xs-16.offset-sm-2.ls-col-sm-13.ls-col-lg-10.ls-col-xl-10
					h2.h2._title
						span.p2._index(data-cascade="rotate-up" data-cascade-delay="2" data-cascade-delay-mobile="2") #{index}
						span(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") #{title}

					.bottom-wrap
						p.p3._tags(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3") #{tags}

						.arrow-button._cta(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4")
							span._label #{cta}
							span._icon.right
								+arrow-right("#55c4f0")


mixin blogpost-row--no-img(link, index, title, tags, cta)
	.ls-row.blogpost-row.no-img
		a(href="#{link}" target="_blank" rel="nofollow noopener noreferrer").link-container.offset-2.ls-col-20.offset-xs-4.ls-col-xs-16.offset-sm-2.ls-col-sm-21.offset-lg-3.ls-col-lg-18.offset-xxl-4.ls-col-xxl-16.motion-cascade
			.ls-row
				.index-container.h1.ls-col-20.ls-col-xs-16.ls-col-sm-4
					span._text.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") #{index}

				.info-container.ls-col-20.ls-col-xs-16.offset-sm-1.ls-col-sm-15.ls-col-lg-13.ls-col-xxl-11
					.ls-row
						h2.h2._title.ls-col-19.ls-col-xs-14.ls-col-sm-13.ls-col-lg-11.ls-col-xxl-9(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{title}
							//- | ¿Cómo ayudamos a la 
							//- span.dw-highlight.circle-open-long.lifted
							//- 	span._text preservación
							//- 	+hl-circle-open-long("#55c4f0")

							//- |  de condiciones de seguridad y bienestar para las generaciones humanas y no-humanas futuras?

					.bottom-wrap.ls-row
						p.p3._tags.ls-col-13.push-1.ls-col-xs-11.ls-col-sm-10.ls-col-md-10.ls-col-lg-9.ls-col-xxl-7(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5") #{tags}

						.ls-col-6.ls-col-xs-4.ls-col-lg-3.cta-wrap
							.arrow-button._cta(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6")
								span._label #{cta}
								span._icon.right
									+arrow-right("#55c4f0")




section#blog-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1.motion-cascade
				span.cascade-mask.inline-block 
					span(data-cascade="mask-up") v. Nuestro Blog

			.title-wrap.ls-col-20.offset-2
				h1.h1.motion-cascade
					span._line 
						span#blog-animation.dw-highlight.underline.long
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Artículos

							span._scaleDownDouble
								+hl-underline("#55c4f0")

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4")  destacados 


					span._line 
						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="5" data-cascade-delay-mobile="5") de 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="6" data-cascade-delay-mobile="6") nuestro 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="7" data-cascade-delay-mobile="7") equipo 



		.blog-list-container
			.ls-row.blogpost-row.no-img
				a(href="https://lifestrategics.com/blog/2020/04/24/como-ayudamos-a-la-preservacion-de-condiciones-de-seguridad-y-bienestar-para-las-generaciones-humanas-y-no-humanas-futuras/" target="_blank" rel="nofollow noopener noreferrer").link-container.offset-2.ls-col-20.offset-xs-4.ls-col-xs-16.offset-sm-2.ls-col-sm-21.offset-lg-3.ls-col-lg-18.offset-xxl-4.ls-col-xxl-16.motion-cascade
					.ls-row
						.index-container.h1.ls-col-20.ls-col-xs-16.ls-col-sm-4
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") 01.

						.info-container.ls-col-20.ls-col-xs-16.offset-sm-1.ls-col-sm-15.ls-col-lg-13.ls-col-xxl-11
							.ls-row
								h2.h2._title.ls-col-19.ls-col-xs-14.ls-col-sm-13.ls-col-lg-11.ls-col-xxl-9(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{title}
									| ¿Cómo ayudamos a la preservación de condiciones de 
									span.dw-highlight.circle-open-long.lifted.bolder.larger.offset
										span._text seguridad
										+hl-circle-open-long("#55c4f0")

									|   y bienestar para las generaciones humanas y no-humanas futuras?

							.bottom-wrap.ls-row
								p.p3._tags.ls-col-13.push-1.ls-col-xs-11.ls-col-sm-10.ls-col-md-10.ls-col-lg-9.ls-col-xxl-7(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5") Crisis · Futuro · Medio Ambiente · Sostenibilidad · Sustentabilidad

								.ls-col-6.ls-col-xs-4.ls-col-lg-3.cta-wrap
									.arrow-button._cta(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6")
										span._label Leer
										span._icon.right
											+arrow-right("#55c4f0")


			.ls-row.blogpost-row.no-img
				a(href="https://lifestrategics.com/blog/2020/04/24/pensamientos-de-evolucion-personal-pt-1/" target="_blank" rel="nofollow noopener noreferrer").link-container.offset-2.ls-col-20.offset-xs-4.ls-col-xs-16.offset-sm-2.ls-col-sm-21.offset-lg-3.ls-col-lg-18.offset-xxl-4.ls-col-xxl-16.motion-cascade
					.ls-row
						.index-container.h1.ls-col-20.ls-col-xs-16.ls-col-sm-4
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") 02.

						.info-container.ls-col-20.ls-col-xs-16.offset-sm-1.ls-col-sm-15.ls-col-lg-13.ls-col-xxl-11
							.ls-row
								h2.h2._title.ls-col-19.ls-col-xs-14.ls-col-sm-13.ls-col-lg-11.ls-col-xxl-9(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{title}
									| Pensamientos de 
									span.dw-highlight.circle-open-long.lifted.larger.offset.bolder
										span._text evolución
										+hl-circle-open-long("#55c4f0")

									|   personal, Pt. 1

							.bottom-wrap.ls-row
								p.p3._tags.ls-col-13.push-1.ls-col-xs-11.ls-col-sm-10.ls-col-md-10.ls-col-lg-9.ls-col-xxl-7(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5") Autoconocimiento · Coaching · Evolución · Mindfulness

								.ls-col-6.ls-col-xs-4.ls-col-lg-3.cta-wrap
									.arrow-button._cta(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6")
										span._label Leer
										span._icon.right
											+arrow-right("#55c4f0")



			.ls-row.blogpost-row.no-img
				a(href="https://lifestrategics.com/blog/2020/04/24/el-arte-de-aprender-a-aprender/" target="_blank" rel="nofollow noopener noreferrer").link-container.offset-2.ls-col-20.offset-xs-4.ls-col-xs-16.offset-sm-2.ls-col-sm-21.offset-lg-3.ls-col-lg-18.offset-xxl-4.ls-col-xxl-16.motion-cascade
					.ls-row
						.index-container.h1.ls-col-20.ls-col-xs-16.ls-col-sm-4
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") 03.

						.info-container.ls-col-20.ls-col-xs-16.offset-sm-1.ls-col-sm-15.ls-col-lg-13.ls-col-xxl-11
							.ls-row
								h2.h2._title.ls-col-19.ls-col-xs-14.ls-col-sm-13.ls-col-lg-11.ls-col-xxl-9(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{title}
									| El Arte de Aprender a 
									span.dw-highlight.circle-open-long.lifted.bolder.larger.offset
										span._text Aprender
										+hl-circle-open-long("#55c4f0")

							.bottom-wrap.ls-row
								p.p3._tags.ls-col-13.push-1.ls-col-xs-11.ls-col-sm-10.ls-col-md-10.ls-col-lg-9.ls-col-xxl-7(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5") Aprendizaje · Autoconocimiento · Coaching · Habilidades · Liderazgo

								.ls-col-6.ls-col-xs-4.ls-col-lg-3.cta-wrap
									.arrow-button._cta(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6")
										span._label Leer
										span._icon.right
											+arrow-right("#55c4f0")




