mixin event-row(index, title, imgSrc, date, location, cta, href)
	.ls-row.event-row
		h2.h2._title.ls-col-20.offset-2.ls-col-xs-18.offset-xs-3.ls-col-xl-10.offset-xl-3
			span._wrap
				span.p2._index #{index}
				| #{title}

		._cover.ls-col-10.offset-2.ls-col-xs-6.offset-xs-3.ls-col-xl-3.offset-xl-1
			img(src="#{imgSrc}", alt="#{title} cover photo")

		._abstract.ls-col-10.offset-1.ls-col-xs-7.offset-xs-3.ls-col-xl-3.offset-xl-1
			._info
				h4.h4._date #{date}
				p.p2._location #{location}

			a.arrow-button.--big._cta(href="#{href}" target="_blank" rel="nofollow noopener noreferrer")
				span._label #{cta}
				span._icon.right
					+arrow-right("#f6eb30")



section#events-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 v. Not sure of what is next?

			.title-wrap.ls-col-20.offset-2
				h1.h1
					span._line Check out our 
					span._line upcoming 
						span.dw-highlight.underline#talks-animation.drawn
							span._text talks
							span._rotate3
								+hl-underline("#55c4f0")



		.events-list-container
			+event-row(
				"01.",
				"How to be prepared for a future that doesn’t exist, yet?",
				"https://www.fillmurray.com/500/500",
				"Mar 26th, 2020",
				"WeWork Reforma Latino.",
				"Book now",
				"#"
			)


			+event-row(
				"02.",
				"What's in Creative Problem Solving for you.",
				"https://www.fillmurray.com/600/600",
				"Apr 2nd, 2020",
				"Palacio Nacional; Bogotá, Colombia.",
				"More info",
				"#"
			)


			+event-row(
				"03.",
				"Self-disruption hability: Key for future businesses.",
				"https://www.fillmurray.com/700/700",
				"May 1st, 2020",
				"Futurology, CDMX.",
				"More info",
				"#"
			)


			+event-row(
				"04.",
				"Applying green MBA concepts to improve digital products, today, worldwide.",
				"https://www.fillmurray.com/800/600",
				"May 21st, 2020",
				"Experience Talks, CDMX.",
				"More info",
				"#"
			)




