mixin how-bullet(index, name, width, offset, ...bullets)
	div(class="motion-cascade bullet-row #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4(data-cascade="rotate-up" data-cascade-delay="1" data-cascade-delay-mobile="1") #{index}
			span.cascade-mask.inline-block
				span._name(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") #{name}

		.line-wrap(data-cascade="scale-x-left" data-cascade-delay="6" data-cascade-delay-mobile="6")

		.bullets-wrap
			ul.center-container
				each bullet, index in bullets
					- var fixedIndex = (index + 1)
					- var cascadeIndex = (index + 9)
					li.p2(data-cascade="rotate-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndex) 
						span._subindex #{fixedIndex}. 
						| #{bullet}

section#how-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 
				span.motion-cascade(data-cascade="rotate-up") iii. Cómo lo hacemos

			+how-bullet(
				"a.",
				"Consultoría",
				"ls-col-18 ls-col-sm-15 ls-col-md-20 ls-col-xxl-19",
				"offset-3 offset-sm-5 offset-md-3 offset-xl-1 offset-xxl-4",
				"Planeación Estratégica",
				"Diseño de Propuesta de Valor",
				"Comunicación Corporativa",
				"Procesos de Emprendimiento e Intraemprendimiento Empresarial",
				"Comunicación y Marketing Digital",
				"Digitalización de Negocios Existentes"
			)

			+how-bullet(
				"b.",
				"Entrenamiento",
				"ls-col-18 ls-col-md-22 ls-col-xxl-22",
				"offset-3 offset-sm-2 offset-md-1 offset-xxl-1",
				"Marketing Digital",
				"Comunicación Digital",
				"Planeación",
				"Project Management",
				"Pensamiento Creativo",
				"Comunicación Interpersonal"
			)

			+how-bullet(
				"c.",
				"Facilitación",
				"ls-col-18 ls-col-sm-15 ls-col-md-20 ls-col-xxl-19",
				"offset-3 offset-sm-5 offset-md-3 offset-xl-1 offset-xxl-4",
				"Proceso Creativo para la Innovación",
				"Diseño y Construcción de Proyectos (Personales y Negocios)",
				"Proceso de Emprendimiento e Intraemprendimiento",
				"Planeación Estratégica",
				"Team Building y Comunicación Organizacional",
				"Gestión del Cambio (Change Management)",
				"Innovación y Desarrollo de Producto, Servicio y Procesos"
			)

			+how-bullet(
				"d.",
				"Sobre solicitud",
				"ls-col-18 ls-col-md-22 ls-col-xxl-22",
				"offset-3 offset-sm-2 offset-md-1 offset-xxl-1",
				"Social Listening (entregables y construcción de equipos operativos)",
				"Facilitación para la Innovación en productos/servicios y procesos",
				"Reportes de Tendencias"
			)

