mixin how-bullet(index, name, width, offset, ...bullets)
	div(class="motion-cascade bullet-row #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4.cascade-mask.inline-block
				span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") #{index}

			span.cascade-mask.inline-block
				span._name(data-cascade="mask-up" data-cascade-delay="1" data-cascade-delay-mobile="1") #{name}

		.line-wrap(data-cascade="scale-x-left" data-cascade-delay="7" data-cascade-delay-mobile="4")

		.bullets-wrap
			ul.center-container
				each bullet, index in bullets
					- var fixedIndex = (index + 1)
					- var cascadeIndexMobile = (index + 6)
					- var cascadeIndex = (index + 9)
					li.p2(data-cascade="slide-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndexMobile) 
						span._subindex 0#{fixedIndex}. 
						| #{bullet}

section#especialidades.page-section.inner-padded.slogan-highlight-blue
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1.motion-cascade
				span.cascade-mask.inline-block 
					span(data-cascade="mask-up") iii. Especialidades por Área

			+how-bullet(
				"a.",
				"Consultoría",
				"ls-col-18 ls-col-sm-15 ls-col-lg-20 ls-col-xxl-19",
				"offset-3 offset-sm-6 offset-lg-3 offset-xl-2 offset-xxl-4",
				"Planeación Estratégica",
				"Comunicación y Marketing Online / Offline",
				"Digitalización de Negocios"
			)

			+how-bullet(
				"b.",
				"Entrenamiento",
				"ls-col-18 ls-col-lg-22 ls-col-xxl-22",
				"offset-3 offset-sm-2 offset-xl-1",
				"Comunicación y Marketing Digital",
				"Planeación",
				"Project Management",
				"Pensamiento Creativo"
			)

			+how-bullet(
				"c.",
				"Facilitación",
				"ls-col-18 ls-col-sm-15 ls-col-lg-20",
				"offset-3 offset-sm-5 offset-lg-3",
				"Proceso Creativo para la Innovación",
				"Planeación Estratégica",
				"Gestión del Cambio",
				"Procesos de Emprendimiento e Intraemprendimiento",
				"Team Building y Comunicación Organizacional"
			)


			//- +how-bullet(
			//- 	"d.",
			//- 	"Sobre solicitud",
			//- 	"ls-col-18 ls-col-lg-22 ls-col-xxl-22",
			//- 	"offset-3 offset-sm-2 offset-lg-1 offset-xxl-1",
			//- 	"Social Listening (entregables y construcción de equipos operativos)",
			//- 	"Facilitación para la Innovación en productos/servicios y procesos",
			//- 	"Reportes de Tendencias"
			//- )

			.motion-cascade.bullet-row.ls-col-18.ls-col-lg-22.ls-col-xl-20.ls-col-xxl-22.offset-3.offset-sm-1.offset-xl-2.offset-xxl-1
				h2.h1.name-wrap
					span._index.h4.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") d.
					
					span.cascade-mask.inline-block
						span._name(data-cascade="mask-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Sobre 
					
					span.cascade-mask.inline-block
						span._name(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") solicitud

				.line-wrap(data-cascade="scale-x-left" data-cascade-delay="7" data-cascade-delay-mobile="4")

				.bullets-wrap
					ul.center-container
						li.p2(data-cascade="slide-up" data-cascade-delay="10" data-cascade-delay-mobile="7") 
							span._subindex 01. 
							| Social Listening (entregables y construcción de equipos operativos)
						li.p2(data-cascade="slide-up" data-cascade-delay="11" data-cascade-delay-mobile="8") 
							span._subindex 02. 
							| Facilitación para la Innovación en productos / servicios y procesos
						li.p2(data-cascade="slide-up" data-cascade-delay="12" data-cascade-delay-mobile="9") 
							span._subindex 03. 
							| Reportes de Tendencias

