mixin how-bullet(index, name, width, offset, ...bullets)
	div(class="bullet-row #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4 #{index}
			|#{name}

		.line-wrap

		.bullets-wrap
			ul.center-container
				each bullet, index in bullets
					- var fixedIndex = (index + 1)
					li.p2 #{fixedIndex}. #{bullet}

section#how-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 ii. How we do it

			+how-bullet(
				"a.",
				"Consulting",
				"ls-col-19",
				"offset-4",
				"Inicial diagnosis",
				"Goals setting",
				"Solutions crafting",
				"Plan implementation"
			)

			+how-bullet(
				"b.",
				"Training",
				"ls-col-15",
				"offset-8",
				"Custom designed courses",
				"Pre-made modules to specific goals",
				"Interactive workshops",
				"Processes alignment"
			)

			+how-bullet(
				"c.",
				"Facilitation",
				"ls-col-22",
				"offset-1",
				"In-house work sessions with specific end goals",
				"Creation of In-house sessions linked to a consulting process"
			)

