mixin how-bullet(index, name, width, offset, ...bullets)
	div(class="motion-cascade bullet-row #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4.cascade-mask.inline-block
				span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") #{index}

			span.cascade-mask.inline-block
				span._name(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") #{name}

		.line-wrap(data-cascade="scale-x-left" data-cascade-delay="9" data-cascade-delay-mobile="9")

		.bullets-wrap
			ul.center-container
				each bullet, index in bullets
					- var fixedIndex = (index + 1)
					- var cascadeIndex = (index + 12)
					li.p2(data-cascade="slide-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndex) 
						span._subindex 0#{fixedIndex}. 
						| #{bullet}

section#how-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1.motion-cascade
				span.cascade-mask.inline-block 
					span(data-cascade="mask-up") iii. Cómo lo hacemos

			+how-bullet(
				"a.",
				"Consultoría",
				"ls-col-18 ls-col-sm-15 ls-col-lg-20 ls-col-xxl-19",
				"offset-3 offset-sm-6 offset-lg-3 offset-xl-2 offset-xxl-4",
				"Planeación Estratégica",
				"Diseño de Propuesta de Valor",
				"Comunicación Corporativa",
				"Procesos de Emprendimiento e Intraemprendimiento Empresarial",
				"Comunicación y Marketing Digital",
				"Digitalización de Negocios Existentes"
			)

			+how-bullet(
				"b.",
				"Entrenamiento",
				"ls-col-18 ls-col-lg-22 ls-col-xxl-22",
				"offset-3 offset-sm-2 offset-xl-1",
				"Marketing Digital",
				"Comunicación Digital",
				"Planeación",
				"Project Management",
				"Pensamiento Creativo",
				"Comunicación Interpersonal"
			)

			+how-bullet(
				"c.",
				"Facilitación",
				"ls-col-18 ls-col-sm-15 ls-col-lg-20",
				"offset-3 offset-sm-5 offset-lg-3",
				"Proceso Creativo para la Innovación",
				"Diseño y Construcción de Proyectos (Personales y Negocios)",
				"Proceso de Emprendimiento e Intraemprendimiento",
				"Planeación Estratégica",
				"Team Building y Comunicación Organizacional",
				"Gestión del Cambio (Change Management)",
				"Innovación y Desarrollo de Producto, Servicio y Procesos"
			)


			//- +how-bullet(
			//- 	"d.",
			//- 	"Sobre solicitud",
			//- 	"ls-col-18 ls-col-lg-22 ls-col-xxl-22",
			//- 	"offset-3 offset-sm-2 offset-lg-1 offset-xxl-1",
			//- 	"Social Listening (entregables y construcción de equipos operativos)",
			//- 	"Facilitación para la Innovación en productos/servicios y procesos",
			//- 	"Reportes de Tendencias"
			//- )

			.motion-cascade.bullet-row.ls-col-18.ls-col-lg-22.ls-col-xl-20.ls-col-xxl-22.offset-3.offset-sm-1.offset-xl-2.offset-xxl-1
				h2.h1.name-wrap
					span._index.h4.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") d.
					
					span.cascade-mask.inline-block
						span._name(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Sobre 
					
					span.cascade-mask.inline-block
						span._name(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") solicitud

				.line-wrap(data-cascade="scale-x-left" data-cascade-delay="10" data-cascade-delay-mobile="10")

				.bullets-wrap
					ul.center-container
						li.p2(data-cascade="slide-up" data-cascade-delay="13" data-cascade-delay-mobile="13") 
							span._subindex 01. 
							| Social Listening (entregables y construcción de equipos operativos)
						li.p2(data-cascade="slide-up" data-cascade-delay="14" data-cascade-delay-mobile="14") 
							span._subindex 02. 
							| Facilitación para la Innovación en productos/servicios y procesos
						li.p2(data-cascade="slide-up" data-cascade-delay="15" data-cascade-delay-mobile="15") 
							span._subindex 03. 
							| Reportes de Tendencias

