mixin how-bullet(index, name, width, offset, ...bullets)
	div(class="motion-cascade bullet-row #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4(data-cascade="rotate-up" data-cascade-delay="1" data-cascade-delay-mobile="1") #{index}
			span.cascade-mask.inline-block
				span._name(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") #{name}

		.line-wrap(data-cascade="scale-x-left" data-cascade-delay="6" data-cascade-delay-mobile="6")

		.bullets-wrap
			ul.center-container
				each bullet, index in bullets
					- var fixedIndex = (index + 1)
					- var cascadeIndex = (index + 9)
					li.p2(data-cascade="rotate-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndex) #{fixedIndex}. #{bullet}

section#how-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 
				span.motion-cascade(data-cascade="rotate-up" data-cascade-delay="0") ii. How we do it

			+how-bullet(
				"a.",
				"Consulting",
				"ls-col-18 ls-col-sm-15 ls-col-md-20 ls-col-xxl-19",
				"offset-3 offset-sm-5 offset-md-3 offset-xl-1 offset-xxl-4",
				"Inicial diagnosis",
				"Goals setting",
				"Solutions crafting",
				"Plan implementation"
			)

			+how-bullet(
				"b.",
				"Training",
				"ls-col-18 ls-col-sm-12 ls-col-md-17 ls-col-xxl-15",
				"offset-3 offset-sm-10 offset-md-6 offset-lg-5 offset-xl-6 offset-xxl-8",
				"Custom designed courses",
				"Pre-made modules to specific goals",
				"Interactive workshops",
				"Processes alignment"
			)

			+how-bullet(
				"c.",
				"Facilitation",
				"ls-col-18 ls-col-md-22 ls-col-xxl-22",
				"offset-3 offset-sm-2 offset-md-1 offset-xxl-1",
				"In-house work sessions with specific end goals",
				"Creation of In-house sessions linked to a consulting process"
			)

