mixin service-card(title, opened, description, projectsMethods, peopleMethods)
	.service-container(data-show="#{opened}")
		.toggle-wrap
			h2.h2 !{title}
			.toggle-info-button

		.text-wrap
			._description.p2 #{description}

			.profiles-container
				._note.p3 Service delivery according to your profile.

				.profile-wrap
					._name.p2 For new and existing projects.
					ul._methods
						for n, i in projectsMethods
							li(class="p3 #{n.color}")= n.name

				.profile-wrap
					._name.p2 For teams and people.
					ul._methods
						for n, i in peopleMethods
							li(class="p3 #{n.color}")= n.name



section#services-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.h4.section-name.ls-col-22.offset-1 iii. What you'll get

			.title-wrap.ls-col-20.offset-2
				h1.h1
					|Our 
					span.dw-highlight.underline#services-animation.drawn.long
						span._text Services
						span._scaleDown
							+hl-underline("#e93f3b")

			.services-wrap.ls-col-17.offset-6
				+service-card(
					"Business Plan Creation",
					"true", 
					"Brief description of how this service works, what would users should expect and why it’s something they should request, what would be the ultimate benefits.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						}
					],
					[
						{
							"color": "yellow",
							"name": "Implementation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "red",
							"name": "Co-design"
						}
					]
				)

				+service-card(
					"Strategic & Implementation Planning",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Value Proposition Design",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Customer Journey & <br> Customer Experience Design",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Marketing Plan Online & Offline",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Marketing Strategy & <br> Commercial Processes",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Training on Strategic & <br> Creative Leadership",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Training on Creative Thinking <br> for Entrepreneurship",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Team Building & <br> Organizational Communication",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Change Management",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)

				+service-card(
					"Facilitation for Product or Service <br> Innovation & Development",
					"false", 
					"Brief description of how this service works.",
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					],
					[
						{
							"color": "blue",
							"name": "Facilitation"
						},
						{
							"color": "red",
							"name": "Back office"
						},
						{
							"color": "yellow",
							"name": "Implementation"
						}
					]
				)








