mixin service-card-content(description, intro, servicePractices)
	.text-wrap
		.inner-container
			._description.p2
				span(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5") #{description}

			.profiles-container
				._note.p3
					span(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6") #{intro}

				.profile-wrap
					//- ._name.p2
						span(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") For new and existing projects.
					
					ul._methods
						for n, i in servicePractices
							- var cascadeIndex = i + 7

							//- li(class="p3 #{n.color}")
							li.p3.blue
								span(data-cascade="slide-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndex)= n.name

				//- .profile-wrap
					._name.p2
						span(data-cascade="slide-up" data-cascade-delay="6" data-cascade-delay-mobile="6") For teams and people.
					
					ul._methods
						for n, i in peopleMethods
							- var cascadeIndex = i + 7

							li(class="p3 #{n.color}")
								span(data-cascade="slide-up" data-cascade-delay=cascadeIndex data-cascade-delay-mobile=cascadeIndex)= n.name



section#servicios.page-section.inner-padded.slogan-highlight-yellow
	.ls-container
		.ls-row
			p.p2.section-name.ls-col-22.offset-1 ii. Lo que te ofrecemos

			.title-wrap.ls-col-20.offset-2.offset-xs-6.ls-col-xs-12.offset-sm-3.ls-col-sm-18.offset-md-5.ls-col-md-14.offset-xl-4.ls-col-xl-16.offset-xxl-5.ls-col-xxl-14
				h1.h1.motion-cascade
					span#services-animation.dw-highlight.underline.long
						span._text.cascade-mask.inline-block
							span(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Servicios 
						
						span._scaleDownDouble
							+hl-underline("#f6eb30")

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="5" data-cascade-delay-mobile="5") por 

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="7" data-cascade-delay-mobile="7") área 

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="9" data-cascade-delay-mobile="9") de 

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="11" data-cascade-delay-mobile="11") acción

					

			.services-wrap.ls-col-21.offset-2.offset-md-5.ls-col-md-17.ls-col-lg-18.ls-col-xxl-17.offset-xxl-6
				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="0" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							| Creación de 
							span.servicehl-animation.dw-highlight.circle-open-long
								span._text Plan de Negocios
								+hl-circle-open-long("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"En conjunto contigo desarrollamos toda la información para crear tu plan de negocios como una herramienta de clarificación, planeación estratégica y planeación operativa.",
						
						"Nuestros servicios para Creación de Plan de Negocios:",

						[
							{
								"color": "blue",
								"name": "Definición de la solución / proyecto"
							},
							{
								"color": "yellow",
								"name": "Definición de productos y/o servicios"
							},
							{
								"color": "red",
								"name": "Investigación y validación de mercado"
							},
							{
								"color": "red",
								"name": "Creación de modelo financiero"
							},
							{
								"color": "red",
								"name": "Definición y desarrollo de cultura organizacional"
							},
							{
								"color": "red",
								"name": "Planeación de Comunicación y Marketing"
							}
						]
					)


				
				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="1" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							| Diseño de 
							span.servicehl-animation.dw-highlight.circle-open-long
								span._text Propuesta de Valor
								+hl-circle-open-long("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"Buscamos el punto óptimo para hacer tu oferta más relevante para tu público meta. Con ello tu proyecto tiene mejores oportunidades de diferenciarse y ofrecer valor a corto, mediano y largo plazo.",

						"Nuestros servicios para Diseño de Propuesta de Valor:",
						[
							{
								"color": "blue",
								"name": "Valoración de Propuesta de Valor existente"
							},
							{
								"color": "yellow",
								"name": "Valoración de elementos de cadena de valor e identificación de oportunidades"
							},
							{
								"color": "red",
								"name": "Co-diseño para la actualización de elementos de cadena de valor"
							},
							{
								"color": "red",
								"name": "Facilitación para re-diseño de elementos de cadena de valor"
							},
							{
								"color": "red",
								"name": "Facilitación de proceso para identificación de fortalezas y creación de propuesta de valor"
							},
							{
								"color": "red",
								"name": "Facilitación de proceso para Desarrollo de Creative Personal Branding (personas)"
							}
						]
					)


				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="2" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							| Planeación e Implementación 

							span.servicehl-animation.dw-highlight.circle-open-long.larger.bolder
								span._text Estratégica
								+hl-circle-open-long("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"Al construir tu planeación estratégica y su plan de implementación contigo generamos en conjunto una ruta de acción para aprovechar lo mejor de tu proyecto respondiendo a las necesidades del mercado.",

						"Nuestros servicios para Planeación e Implementación Estratégica:",
						[
							{
								"color": "blue",
								"name": "Valoración de la Planeación Estratégica existente"
							},
							{
								"color": "yellow",
								"name": "Identificación de Oportunidades Estratégicas"
							},
							{
								"color": "red",
								"name": "Identificación y Priorización de Pilares Estratégicos"
							},
							{
								"color": "red",
								"name": "Definición de la Estrategia (única o por áreas)"
							},
							{
								"color": "red",
								"name": "Análisis de aceptaciones y tomadores de decisiones"
							},
							{
								"color": "red",
								"name": "Planeación para la Implementación"
							}
						]
					)


				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="3" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							| Creación de Plan de Comunicación y Mercadotecnia 

							span.servicehl-animation.dw-highlight.circle-open.long.bolder
								span._text Digital
								+hl-circle-open("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"Poder comunicarte de manera eficaz y eficiente con tus públicos meta es parte de conseguir los objetivos estratégicos de tu negocio o proyecto. Nuestra especialidad es hacerlo en canales digitales y podemos ayudarte a integrar tus canales análogos.",
						
						"Nuestros servicios para Creación de Plan de Comunicación y Mercadotecnia Digital",
						[
							{
								"color": "blue",
								"name": "Facilitación de Introspección Corporativa"
							},
							{
								"color": "yellow",
								"name": "Creación de Base de Marca"
							},
							{
								"color": "red",
								"name": "Creación de Plan de Comunicación Digital"
							},
							{
								"color": "red",
								"name": "Creación de Plan de Mercadotecnia Digital"
							},
							{
								"color": "red",
								"name": "Diseño de Estrategia Digital"
							},
							{
								"color": "red",
								"name": "Planeación para Operación Digital"
							},
							{
								"color": "red",
								"name": "Estrategia de Pago por Clic"
							},
							{
								"color": "red",
								"name": "Implementación de Campañas Pago por Clic (Facebook, Instagram, Google y LinkedIn)"
							}
						]
					)


				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="4" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open
								span._text Procesos
								+hl-circle-open("#f6eb30")

							|  Comerciales en Medios Digitales

						.toggle-info-button

					+service-card-content(
						"Ya sea para habilitar nuevos canales de distribución o reforzar los existentes las plataformas digitales requieren su propia infraestructura así como diseño estratégico y operativo.",

						"Nuestros servicios para Procesos Comerciales en Medios Digitales:",
						[
							{
								"color": "blue",
								"name": "Adaptación de Canales de Distribución e integración a medios digitales"
							},
							{
								"color": "yellow",
								"name": "Digitalización de procesos comerciales existentes"
							},
							{
								"color": "red",
								"name": "Creación de canales de distribución digitales"
							},
							{
								"color": "red",
								"name": "Diseño de promociones digitales con integración análoga (offline)"
							},
							{
								"color": "red",
								"name": "Integración de marca para efectos promocionales (medios y alianzas)"
							}
						]
					)


				.service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="5" data-cascade="slide-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open-long.larger
								span._text TeamBuilding
								+hl-circle-open-long("#f6eb30")

							|  y Comunicación Organizacional

						.toggle-info-button

					+service-card-content(
						"La alineación de personas y equipos de trabajo es esencial para ir en conjunto al cumplimiento de las metas que representan beneficios compartidos de manera eficiente, productiva y armoniosa.",
						
						"Nuestros servicios para TeamBuilding y Comunicación Organizacional:",
						[
							{
								"color": "blue",
								"name": "Facilitación para co-creación de marca corporativa y esencia organizacional"
							},
							{
								"color": "yellow",
								"name": "Facilitación de procesos de alineación de equipos"
							},
							{
								"color": "red",
								"name": "Valoración de modos de resolución de conflictos"
							},
							{
								"color": "red",
								"name": "Valoración de perfiles de preferencias creativas"
							}
						]
					)

				
				//- .service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="6" data-cascade="slide-up")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long.bolder
								span._text Training
								+hl-circle-open("#f6eb30")
							|  on Strategic & Creative Leadership

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				
				//- .service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="7" data-cascade="slide-up")
						h2.h2
							| Training on Creative Thinking for 
							span.servicehl-animation.dw-highlight.circle-open-long
								span._text Entrepreneurship
								+hl-circle-open-long("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				//- .service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="8" data-cascade="slide-up")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open-long.larger
								span._text Team Building
								+hl-circle-open-long("#f6eb30")
							|  & Organizational Communication

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				//- .service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="9" data-cascade="slide-up")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long.bolder
								span._text Change
								+hl-circle-open("#f6eb30")
							|  Management

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				
				//- .service-container.motion-cascade(data-show="false")
					.toggle-wrap.dw-trigger(data-color='yellow' data-index="10" data-cascade="slide-up")
						h2.h2
							| Facilitation for Product or Service 
							span.servicehl-animation.dw-highlight.circle-open-long.larger.bolder
								span._text Innovation
								+hl-circle-open-long("#f6eb30")
							|  & Development

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)







