mixin hl-underline(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 327 42")
		g(stroke="#{color}" fill="none"  transform="translate(3, 5)")
			path(class="_p-top" d="M27.118493,8.4551251 C77.2568307,8.4551251 213.903284,5.40760689 266.516487,0")
			line(class="_p-middle-top" x1="23.120103" y1="16.8485517" x2="287.726397" y2="11.3712623")
			path(class="_p-middle-bottom" d="M-1.13686838e-13,30.7588733 C132.416667,19.7778907 228.325466,13.3153537 287.726397,11.3712623")
			path(class="_p-bottom" d="M23.120103,30.7588733 C151.691546,23.0045106 252.430023,18.747533 325.335536,17.9879405")


mixin hl-circle-open(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268 102")
		path(fill="none" fill-rule="evenodd" stroke="#{color}" stroke-linecap="round" d="M76.913069,19.8957225 C49.0411109,22.7831382 7.13437304,44.5579515 7.13437304,66.0311704 C7.13437304,100.962744 102.776037,98.6027537 141.127913,98.6027537 C179.479789,98.6027537 263.898472,86.0368047 263.898472,45.0311704 C263.898472,4.02553612 76.913069,-16.6394338 20.2685378,28.4621287")


mixin hl-circle-open-round(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138 105")
		g(transform="translate(-1.000000, -1.000000)" fill="none" stroke="#{color}" stroke-linecap="round")
			path(d="M5.79995707,26.9881846 C21.304435,12.4918368 44.0426088,2.9119333 67.117588,2.9119333 C90.1925671,2.9119333 136.996324,20.4303855 136.996324,54.7136689 C136.996324,88.9969523 108.868502,103.966504 74.4884443,103.966504 C40.1083866,103.966504 3.33182889,85.8502575 3.33182889,58.2988937 C3.33182889,30.74753 44.7550817,11.0051687 70.5420301,11.0051687")


mixin hl-circle-open-long(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 454 103")
		g(transform="translate(-4.000000, -3.000000)" fill="none" stroke="#{color}" stroke-linecap="round")
			path(d="M106.602512,28.0510269 C144.458422,17.9939915 187.530987,11.329691 235.820207,8.05812523 C308.254036,3.15077665 434.196163,20.7208678 453.216947,46.526457 C472.237732,72.3320462 392.952585,104 240.15103,104 C87.3494746,104 14.3434299,91.2625197 6.60421177,61.9497975 C-1.1350063,32.6370753 66.6283661,8.05812523 143.57491,5")





mixin arrow-right(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
		path(fill=color d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z")


mixin arrow-down(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
		path(fill=color d="M443.5 248.5l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L241 419.9V44c0-6.6-5.4-12-12-12h-10c-6.6 0-12 5.4-12 12v375.9L28.5 241.4c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.3.1-17z")


mixin arrow-up(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
		path(fill=color d="M4.465 263.536l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L207 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l178.494 178.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.05c-4.686-4.686-12.284-4.686-16.971 0L4.465 246.566c-4.687 4.686-4.687 12.284 0 16.97z")


mixin chevron-right(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
		path(fill=color d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z")


mixin webgl-logo(color)
	svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 80")
		g(fill=color fill-rule="evenodd")
			polyline(points="186.0636 55.5960782 184.769495 55.5960782 184.769495 52.2266458 183.637594 52.2266458 183.637594 55.5960782 182.341727 55.5960782 182.341727 56.5694776 186.0636 56.5694776 186.0636 55.5960782 186.0636 55.5960782")
			polyline(points="186.569605 56.5694776 188.235721 56.5694776 188.983269 53.6743151 188.995611 53.6743151 189.744922 56.5694776 191.411038 56.5694776 191.411038 52.2266458 190.346134 52.2266458 190.346134 55.5230865 190.333792 55.5230865 189.422277 52.2266458 188.558365 52.2266458 187.645087 55.5230865 187.632746 55.5230865 187.632746 52.2266458 186.569605 52.2266458 186.569605 56.5694776")
			path(d="M141.265011,23.5602884 C139.685992,22.894371 138.091458,22.5609716 136.482819,22.5609716 C133.942741,22.5609716 131.659722,23.0036823 129.631469,23.8871644 C127.603039,24.7711754 125.89267,25.9884095 124.49948,27.5406299 C123.105585,29.0910871 122.038037,30.9139411 121.295072,33.0079575 C120.551932,35.101974 120.180097,37.3599574 120.180097,39.7797921 C120.180097,42.2604532 120.550698,44.5642768 121.291723,46.6898525 C122.032395,48.8145467 123.09818,50.667902 124.488373,52.2504474 C125.878565,53.8328165 127.586642,55.0733234 129.613838,55.9739074 C131.64121,56.8732572 133.924053,57.3237255 136.46413,57.3237255 C138.166741,57.3237255 139.814697,57.066844 141.409408,56.5543151 C143.003942,56.040552 144.443149,55.2864804 145.728438,54.2921003 C147.013551,53.2973675 148.073871,52.0711416 148.909749,50.6144805 C149.745981,49.1565852 150.257276,47.4842988 150.443281,45.5960344 L143.477331,45.5960344 C143.043435,47.4527395 142.207204,48.8461059 140.968989,49.7750756 C139.729364,50.7040453 138.22792,51.1686182 136.46413,51.1686182 C134.822521,51.1686182 133.429331,50.8505576 132.283854,50.2144364 C131.138731,49.5784916 130.209585,48.7248056 129.497122,47.6549654 C128.784483,46.5838911 128.266488,45.3664806 127.941904,44.0013237 C127.616086,42.636343 127.454587,41.2255221 127.454587,39.7676268 C127.454587,38.3709106 127.617144,37.0135112 127.942786,35.6956049 C128.26878,34.3773459 128.787656,33.1904369 129.500295,32.1361118 C130.212758,31.0814342 131.142962,30.23674 132.290378,29.6006188 C133.436736,28.9644976 134.832218,28.646437 136.476295,28.646437 C138.893838,28.646437 140.76024,29.2562882 142.078146,30.4758144 C143.396405,31.6956931 144.163171,33.4638914 144.381088,35.7805856 L137.043303,35.7805856 L137.043303,41.2364532 L150.955634,41.2364532 L150.955634,23.3055225 L146.3263,23.3055225 L145.585276,27.0672414 C144.284824,25.3951313 142.844207,24.2256768 141.265011,23.5602884")
			polyline(points="162.779589 56.5541388 162.779589 29.5554838 178.942498 29.5554838 178.942498 23.4003765 155.505452 23.4003765 155.505452 56.5541388 162.779589 56.5541388")
			path(d="M128.377915,19.5875279 C117.24791,12.8181617 100.578291,8.96518549 81.9789742,8.96518549 C48.4695976,8.96518549 21.3046837,22.9187014 21.3046837,40.1317037 C21.3046837,57.3443534 48.4695976,71.2981162 81.9789742,71.2981162 C100.646346,71.2981162 117.38402,67.3734882 128.514202,60.5618079 C116.365309,71.9747883 94.5827425,79.9945347 69.6772224,79.9982389 C31.5328708,80.0045843 0.607956948,62.1602211 0.604651163,40.1424585 C0.601414244,18.1254012 31.5207055,0.270288748 69.6650571,0.26463986 C94.4716681,0.260646857 116.19764,8.25430948 128.377915,19.5875279")
			polyline(points="67.248925 56.898822 60.8524513 29.219616 53.128727 56.898822 47.2636472 56.898822 39.5572012 29.2192634 33.1416862 56.898822 27.0985348 56.898822 36.5895759 20.8208063 42.2594821 20.8208063 50.2437904 49.1579957 58.1318343 20.8208063 63.8181372 20.8208063 73.642754 56.898822 67.248925 56.898822")
			path(d="M89.6245938,53.6945906 C88.7363514,54.9446181 87.6254314,55.9067338 86.321806,56.5546677 C84.9813322,57.221114 83.4271725,57.5587448 81.702875,57.5587448 C79.7620707,57.5587448 78.0134426,57.206833 76.505652,56.5127063 C75.0757898,55.8541939 73.8552058,54.88626 72.8777513,53.635351 C71.0686494,51.3204199 70.1123519,48.0585357 70.1123519,44.2031969 C70.1123519,42.487186 70.355834,40.8771364 70.8359221,39.4173017 C71.3188312,37.9497095 72.0316466,36.661423 72.9546218,35.5889382 C74.8952499,33.333952 77.6618834,32.14193 80.9555031,32.14193 C82.6849136,32.14193 84.0969686,32.3228226 85.2715361,32.6948336 C86.2981807,33.0195939 86.9803184,33.4404424 87.5390402,33.8094561 C88.2590842,34.2844313 88.9204175,34.8683652 89.5054093,35.5441558 C90.0018941,36.1180401 90.4440759,36.7590979 90.8199657,37.4491695 C91.4929354,38.6852687 91.8187536,39.8399133 91.8928032,40.4531144 L91.9419932,40.858624 L87.2303239,40.858624 L87.2044066,40.5246956 C87.0855746,38.9939849 85.0763625,36.2592632 81.4967704,36.2592632 C76.3795914,36.2592632 75.1604179,39.9585689 75.0794923,43.2160454 L92.2112164,43.2160454 L92.2112164,43.5780069 C92.2112164,45.6787231 91.9962963,47.5967836 91.5722742,49.279296 C91.1387315,51.0004199 90.483569,52.4859956 89.6245938,53.6945906 L89.6245938,53.6945906 Z M81.1616078,53.3075934 C84.9570017,53.3075934 86.9861366,51.2647064 87.3556793,47.0653897 L75.0846052,47.0653897 C75.2644399,50.4848937 77.9741258,53.3075934 81.1616078,53.3075934")
			path(d="M115.924185,42.2183154 C115.467899,43.6760344 114.795282,44.9604421 113.925905,46.0362768 C113.027965,47.1468442 111.938907,48.0105798 110.689232,48.6035054 C109.384549,49.2225246 107.92207,49.5363538 106.342698,49.5363538 L106.33688,49.5363538 C104.87969,49.5127285 103.549089,49.1950205 102.382808,48.5916927 C101.418401,48.0932685 100.554136,47.3934999 99.804825,46.5056101 L99.804825,57.5739073 L95.1125496,57.5739073 L95.1125496,24.7891588 L99.5795027,24.7891588 L99.5795027,27.0205197 C99.9716129,26.5074618 100.475503,25.9661946 101.143007,25.4878696 C102.40996,24.5798806 103.977343,24.1197153 105.801607,24.1197153 C107.763745,24.1197153 109.512902,24.5573131 111.001299,25.4208723 C112.327844,26.1902828 113.450929,27.2989108 114.339701,28.7153736 C115.115635,29.9520017 115.706092,31.4084865 116.093971,33.0446297 C116.429133,34.4589768 116.6065,36.0066131 116.6065,37.5200456 C116.6065,39.192332 116.376946,40.7729381 115.924185,42.2183154 Z M111.707943,36.8948555 C111.707943,34.3209272 111.190301,32.1637923 110.210378,30.6565306 C109.167161,29.0507125 107.653199,28.2368723 105.711337,28.2368723 C102.903448,28.2368723 99.6246377,30.2004204 99.6246377,35.7340401 C99.6246377,38.3844863 99.9522189,40.4236709 100.625894,41.9691915 C101.598764,44.2005523 103.232968,45.2852024 105.621244,45.2852024 C108.162731,45.2852024 109.862522,44.2890592 110.817585,42.2400014 C111.606566,40.5465579 111.707943,38.4939739 111.707943,36.8948555")